<div class="side-cart">
  <div class="justforhover">
  <a href="javascript:void(0)" onclick="openNav()">
    <div class="side-cart-image">
      <img src="img/slidecart.jpg" alt="">
    </div>
    <div class="itemstocart">
      <p>0 ITEMS</p>
    </div>
    <div class="cart-value">
      <p>BDT 0.00</p>
    </div>
  </a>
</div>

</div>

<!-- CART SECTION -->
<div id="mySidenav" class="sidenav">



  <div class="close-drawer" onclick="closeNav()">
    <img src="img/backcart.png" alt="">
  </div>


  <div id="carttt">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div class="cart-caption">0 items <i class="fas fa-shopping-bag"></i> <button type="button" class="btn btn-danger btn-sm" onclick="closeNav()">CLOSE</button></div>

    <div class="cd-item">
      <ul class="cd-cart-items">



        <li>
          <div class="idk-yet">
            <div class="item-quantity">
              <input class="quantity col-2 amount-input" min="1" name="quantity" value="1" type="number" id="qty">
            </div>
            <div class="item-discard">
              <div class="cd-item-remove" role="button">&times;</div>
            </div>
            <div class="item-desc">
              <table>
                <tr>
                  <td class="bname">BBQ Chicken Cheese Burger</td><td> BDT 245</td>
                </tr>
                <tr>
                  <td>Favour</td><td>Regular</td>
                </tr>
                <tr>
                  <td>Addons:</td><td></td>
                </tr>
                <tr>
                  <td>Patty</td><td>BDT 90</td>
                </tr>
                <tr class="tot">
                  <td>TOTAL</td><td>BDT 335</td>
                </tr>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="idk-yet">
            <div class="item-quantity">
              <input class="quantity col-2 amount-input" min="1" name="quantity" value="1" type="number" id="qty">
            </div>
            <div class="item-discard">
              <div class="cd-item-remove" role="button">&times;</div>
            </div>
            <div class="item-desc">
              <table>
                <tr>
                  <td class="bname">BBQ Chicken Cheese Burger</td><td> BDT 245</td>
                </tr>
                <tr>
                  <td>Favour</td><td>Regular</td>
                </tr>
                <tr>
                  <td>Addons:</td><td></td>
                </tr>
                <tr>
                  <td>Patty</td><td>BDT 90</td>
                </tr>
                <tr class="tot">
                  <td>TOTAL</td><td>BDT 335</td>
                </tr>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="idk-yet">
            <div class="item-quantity">
              <input class="quantity col-2 amount-input" min="1" name="quantity" value="1" type="number" id="qty">
            </div>
            <div class="item-discard">
              <div class="cd-item-remove" role="button">&times;</div>
            </div>
            <div class="item-desc">
              <table>
                <tr>
                  <td class="bname">BBQ Chicken Cheese Burger</td><td> BDT 245</td>
                </tr>
                <tr>
                  <td>Favour</td><td>Regular</td>
                </tr>
                <tr>
                  <td>Addons:</td><td></td>
                </tr>
                <tr>
                  <td>Patty</td><td>BDT 90</td>
                </tr>
                <tr class="tot">
                  <td>TOTAL</td><td>BDT 335</td>
                </tr>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="idk-yet">
            <div class="item-quantity">
              <input class="quantity col-2 amount-input" min="1" name="quantity" value="1" type="number" id="qty">
            </div>
            <div class="item-discard">
              <div class="cd-item-remove" role="button">&times;</div>
            </div>
            <div class="item-desc">
              <table>
                <tr>
                  <td class="bname">BBQ Chicken Cheese Burger</td><td> BDT 245</td>
                </tr>
                <tr>
                  <td>Favour</td><td>Regular</td>
                </tr>
                <tr>
                  <td>Addons:</td><td></td>
                </tr>
                <tr>
                  <td>Patty</td><td>BDT 90</td>
                </tr>
                <tr class="tot">
                  <td>TOTAL</td><td>BDT 335</td>
                </tr>
              </table>
            </div>
          </div>
        </li>


      </ul>
    </div>

    <div class="cart-footer">
      <div class="total-price">
        BDT 80576.00
      </div>
      <a href="/checkout"><button type="button" class="btn btn-success btn-block">CHECKOUT</button></a>

    </div>
  </div>

</div>
