<div class="dropdown-menu">
  <p class="dropdown-item"><a href="/signup">My account</a></p>
  <p class="dropdown-item"><a href="/signup">My Orders</a></p>
  <p class="dropdown-item"><a href="/signup">Payment Preference</a></p>
  <div class="dropdown-divider"></div>
  <p class="dropdown-item"><a href="/signup"> <i>Sign Out</i> </a></p>
</div>
