<section id="footer-section">
  <div class="">
    <p>Follow us on
    <a href="#"><i class="social-icon fab fa-facebook-f"></i></a>
    <a href="#"><i class="social-icon fab fa-twitter"></i></a>
    <a href="#"><i class="social-icon fab fa-instagram"></i></a>
    <a href="#"><i class="social-icon fas fa-envelope"></i></a>
    </p>
  </div>
      <p>© Copyright 2020 BurgerTown</p>
</section>
</body>

</html>
