<div id="footer-section">
  <div class="">
    <p>Follow us on
    <a href="#"><i class="social-icon fab fa-facebook-f"></i></a>
    <a href="#"><i class="social-icon fab fa-twitter"></i></a>
    <a href="#"><i class="social-icon fab fa-instagram"></i></a>
    <a href="#"><i class="social-icon fas fa-envelope"></i></a>
    </p>
  </div>
      <p>© Copyright 2020 BurgerTown</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.0/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="public/behav.js" charset="utf-8"></script>
</body>

</html>
