<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>CART</p>
    </div>
  </div>


  <section class="menu2">

    </section>

<%- include("partials/footer") -%>
