<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>Contact Us</p>
      <h4>Help us improve by providing your suggestions, complaints, feedbacks and more.</h4>
    </div>
  </div>


  <section class="contactus-section">
    <div class="contact-info">
      <p class="contact-info-heading">Reach us at </p>
      <hr>
      <p><i class="fas fa-phone-alt"></i>+880 178 123 4567 (Banani)</p>
      <p><i class="fas fa-phone-alt"></i>+880 178 123 4567 (Uttara)</p>
      <p><i class="fas fa-phone-alt"></i>+880 178 123 4567 (Dhanmondi)</p>
      <p><i class="far fa-envelope"></i>info@burgertown.com</p>
      <p><i class="fas fa-globe"></i>www.burgertownbd.com</p>

    </div>
    <div class="contact-hours">
      <p class="contact-info-heading">Contact Hours </p>
      <hr>
      <p>11:00 am to 10:00 pm</p>
      <p>Saturday to Thursday</p>

    </div>
  </section>
<%- include("partials/footer") -%>
