<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>Order</p>
    </div>
  </div>

<!-- Section Under Navbar -->


    <section class="twobuttons">
      <a class="btn btn-lg btn-outline-warning" href="/takeaway" role="button">TAKEAWAY</a>
      <br>
      <br>
    <a class="btn btn-lg btn-outline-warning" href="/delivery" role="button">HOME DELIVERY</a>
    </section>

    <section class="timings">
      <div class="row">
        <div class="col-lg-6 col-md-12 timing-card">
          <h2>Takeaway Time</h2>
          <hr>
          <p>Banani and Uttara Branch : 12:00pm to 11:00 pm</p>
          <p>Dhanmondi Branch : 11:00 am to 10:30 pm</p>

        </div>
        <div class="col-lg-6 col-md-12 timing-card">
          <h2>Home Delivery Time</h2>
          <hr>
          <p>Banani and Uttara Branch : 12:00pm to 9:00 pm</p>
          <p>Dhanmondi Branch : 12:00 pm to 10:00 pm</p>

        </div>

      </div>

    </section>

<%- include("partials/footer") -%>
