<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>Location</p>
    </div>
  </div>


  <section class="menu2">

    <div class="row location-card">


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">B A N A N I</h5>
            <p class="card-text">2nd Floor, Ahmed Tower, Kamal Ataturk Avenue, Banani, Dhaka 1213</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58430.418694002256!2d90.39568071234577!3d23.750903511220827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c70e693d17fd%3A0x4573fd56c6132efa!2sChillox%20Banani!5e0!3m2!1sen!2sbd!4v1592954772545!5m2!1sen!2sbd" width="230" height="426" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRrD7V00bx1R0al3SJlGuoXXCPBqdAMT20H5XPcHpiD_i9YxF87&usqp=CAU" class="card-img-top" alt="..."> -->
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">D H A N M O N D I</h5>
            <p class="card-text">Level - 3, AMM Center, 56/A Rd 3A, Dhaka 1209</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14608.80991074066!2d90.3748599!3d23.740158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6db329263b9d0b51!2sChillox%20Dhanmondi!5e0!3m2!1sen!2sbd!4v1592982023352!5m2!1sen!2sbd" width="230" height="426" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">U T T A R A</h5>
            <p class="card-text">Level 3, 12 Sonargaon Janapath, Dhaka 1230</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.4262139714347!2d90.39019941488532!3d23.87450058452834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c59d75324847%3A0x262cf7dd1d79029!2sChillox%20Uttara!5e0!3m2!1sen!2sbd!4v1592982118291!5m2!1sen!2sbd" width="230" height="426" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("partials/footer") -%>
