<%- include("partials/header") -%>

<section class="Memo ">
<div class="Memo-form">
    <div class="memo-header">
      <img src="img/order-icon.jpg" alt="">
      <h5>Your order number  #123456 has been confirmed</h5>
    </div>

    <div class="time-block">
      <div class="time-label">
        <p>Order placed at </p>
      </div>
      <div class="time-value">
        <p>11 August,2020 ,16:25(GMT+6) </p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Name  :</p>
      </div>
      <div class="memo-value">
        <p>Swarupa Islam</p>
      </div>
    </div>
    <div class="memo-block">
      <div class="memo-label">
        <p>Contact  :</p>
      </div>
      <div class="memo-value">
        <p>01234567890</p>
      </div>
    </div>

    <div class="memo-block">
      <div class="memo-label">
        <p>Address :</p>
      </div>
      <div class="memo-value">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
    </div>



    <div class="memo-block">
      <div class="memo-label">
        <p>Estimated delivery by :</p>
      </div>
      <div class="memo-value">
        <p>11 August,2020 ,18:25(GMT+6) </p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Order Description :</p>
      </div>
      <div class="cart-memo-block">
        <table>
          <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>ADD ONS</th>
            <th>Flavor/Size</th>
            <th>Price(BDT)</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Double Deluxe</td>
            <td>BBQ Sauce,Beef Bacon,Patty</td>
            <td>Spicy</td>
            <td>540</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Curly Fries</td>
            <td> - </td>
            <td>Large</td>
            <td>360</td>
          </tr>

          <tr>
            <td>1</td>
            <td>BBQ Chicken Cheese</td>
            <td>Beef Bacon</td>
            <td>Regular</td>
            <td>340</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Delivery Charge :</p>
      </div>
      <div class="memo-value">
        <p>BDT 60 </p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Total Price :</p>
      </div>
      <div class="memo-value">
        <p>BDT 1300 </p>
      </div>
    </div>

    <div class="memo-block">
      <div class="memo-label">
        <p>Payment :</p>
      </div>
      <div class="memo-value">
        <p>Cash on Delivery </p>
      </div>
    </div>

    <div class="memo-footer">
      <p>Thank you for staying with burgerTown family !</p>
    </div>
    <div class="download-memo-button">
      <button type="submit" class="btn btn-outline-success btn-sm ">DOWNLOAD MEMO</button>
    </div>
    </div>
</section>

<%- include("partials/footer") -%>
