<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->
  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>Sign In</p>
    </div>

    <!-- <div class="container4 titlepage">
      <p>Contact Us</p>
      <h4>Help us improve by providing your suggestions, complaints, feedbacks and more.</h4>
    </div> -->
  </div>

  <section class="Takeaway">

    <form class="Signin-form">
      <h2><u>Sign In</u></h2>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Phone Number or email">
        <input type="password" class="form-control form-control-sm" placeholder="Password">
        <button type="submit" class="btn btn-warning btn-sm btn-block">SIGN IN</button>
        <h6>OR</h6>
        <button type="submit" class="btn btn-primary btn-sm btn-block"><img src="img/google-icon-logo.png" alt="">Continue with Google </button>
        <div class="SignUp">
          <p><i>Don't have an account? </i><a href="Signup.html">  Sign up</a></p>
        </div>



      </div>
    </form>
  </section>
<%- include("partials/footer") -%>
