<%- include("partials/header") -%>
<!-- PAGE TITLE SECTION -->
<div class="body-sec">
  <div class="">
    <img class="burger-body" src="img/Burger.jpg" alt="">
  </div>

  <div class="container4 titlepage">
    <p>Sign Up</p>
  </div>

  <!-- <div class="container4 titlepage">
      <p>Contact Us</p>
      <h4>Help us improve by providing your suggestions, complaints, feedbacks and more.</h4>
    </div> -->
</div>

<section class="Takeaway">
  <!-- <h5>Create an account to get started</h5> -->
  <form class="Signup-form" action="/signup" method="post">
    <div class="form-group">
<h5>Create an account to get started</h5>

          <input type="text" class="form-control f_name" placeholder="First name*" name="f_name" required oninvalid="this.setCustomValidity('Please enter your first name')"
       oninput="this.setCustomValidity('')" autocomplete="off">

          <input type="text" class="form-control l_name" placeholder="Last name*" name="l_name" required oninvalid="this.setCustomValidity('Please enter your last name')"
       oninput="this.setCustomValidity('')" autocomplete="off">

      <input type="email" class="form-control email" placeholder="Email Adress*" name="email" autocomplete="off" required>
      <input type="text" class="form-control address" placeholder="Address*" name="address" required oninvalid="this.setCustomValidity('Please enter your address')"
       oninput="this.setCustomValidity('')" autocomplete="off">
      <input type="tel" class="form-control phone" placeholder="Phone Number*" name="phone" pattern="[0-9]{11}" required autocomplete="off">
          <input type="password" class="form-control pass" placeholder="Password*" name="pass" required oninvalid="this.setCustomValidity('Please enter a password')"
       oninput="this.setCustomValidity('')">
          <input type="password" class="form-control c_pass" placeholder="Confirm Password*" name="c_pass" required oninvalid="this.setCustomValidity('Please confirm your password')"
       oninput="this.setCustomValidity('')">



        <div class="checkbox">
          <small><input type="checkbox" name="notify"> I want to be notified about updates through emails</small>
          <br>
          <small><input type="checkbox" class="agree" name="agree" required oninvalid="this.setCustomValidity('You must agree with the terms and conditions to sign up')"
       oninput="this.setCustomValidity('')"> I agree with the terms and conditions of BurgerTown</small>
        </div>

      <div class="SignIn">
        <p>Have an Account? <a href="/signin">Sign In</a></p>
      </div>


      <button type="submit" class="btn btn-warning sign-up">SIGN UP</button>
  </form>
</section>

<%- include("partials/footer") -%>
