<%- include("partials/header") -%>


<!-- scetion Under navbar -->
<div class="body-sec">
  <div class="">
    <img class="burger-body" src="img/Burger.jpg" alt="">
  </div>

  <div class="container4 titlepage">
    <p>Takeaway</p>
  </div>
</div>

<!-- someone explain what this is -Akib -->
<!-- <section class="menu1 body-sec">
  <div class="container intermediatepage">

  </div>
</section> -->

<section class="Takeaway">
  <h5>Enter the following information to place an order</h5>
  <form class="Takeaway-form">
    <div class="form-group">

      <label for="exampleInputEmail1">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

      <label for="exampleInputEmail1">Phone Number</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <label for="exampleInputEmail1">Branch</label>
      <select class="form-control">
        <option>Dhanmondi</option>
        <option>Banani</option>
        <option>Uttara</option>
      </select <p>Have an Account? <a href="#">Sign In</a></p>
    </div>
    <button type="submit" class="btn btn-warning">Proceed</button>
  </form>
</section>

</body>

</html>

<%- include("partials/footer") -%>
