body{
  background-color: #07031a;
}
section{
  background-color: #0b0b0d;
  background-image: url('img/burg-bg.jpg');
  /* background-attachment: fixed; */
}
/* HOMEPAGE */

/* NAVBAR */
.header-div{
position: relative;
}

.navbar{
  padding: 0 0 4.5rem;
}
.navbg{
  /* background-color: #0b0b0d; */
  background-color: #000;
}

.logo{
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.navbar-brand{
  font-family: 'Aclonica', sans-serif;
  padding: 5%;
  font-size: 2rem;
}
.navbar-nav
{
  padding: 1% 0;
  text-align: center;
  margin: auto;
}
.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0 15px;
}
.navlink.icon-position
{
  display: inline;
}

.side-cart{
  /* width: 80px;
  color:#f9d56e ; */
   position: fixed;
  right: 0;
  top: 250px;
  z-index: 1050;
  background-color: #fff;
  text-align: center;
  background-color: #888888;
  font-size: 12px;
  font-weight: bold;
  box-shadow: -3px 2px 5px #888888;
}


/* .itemstocart{
  background-color: #888888;
  font-size: 12px;
} */
.side-cart p{
    padding: 5% 0;
    margin-bottom: 0;
}
/* .side-cart p:hover{
  background-color: #5e6073;
} */

.side-cart div:hover{
  background-color: #5e6073;
}
.side-cart a{
  color:#f9d56e ;
}
.side-cart a:hover{
  text-decoration: none;
  color:#f9d56e ;
}





/* IMAGE SECTION */
#image-sec{
  position: relative;
  margin-top: 4.5%;
}

.flavor-down{
  position: relative;
  margin-left: 10%;

}
/* .bg-burger{
  background-image: url('../img/xyz.jpg');
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
} */
.burger-img{
  position: relative;
  width: 100%;
  height: auto;
}

.slogan {
  color: #F5AA13;
  font-family: 'Piedra', cursive;
  font-size: 5vw;
  padding-top: 20%;
  /* padding-left: 15%; */
}

/* ABOUT SECTION */
#about-section
{
  position: relative;
  background-color: #0b0b0d;
  color: #f7f7f7;
  text-align: center;
  font-family: 'Aclonica', sans-serif;



}
#about-section p{
  margin-top: 0;
  margin-bottom: 0;

}
.about-heading{
  padding: 5% 0 0;
  font-size: 3vw;

}
.a-head{
  padding: 0 22%;
}
.a-desc{
  padding: 5% 0 10%;
  font-size: 22px;
}
.about-description{
  padding: 0 15%;
  /* background-color: #000; */
}

/* ORDER SECTION */
#order-section
{
  position: relative;
  background-color: #0b0b0d;
  color: #f7f7f7;

}
.order-apps{
  text-align: center;
  font-family: 'Aclonica', sans-serif;

}
.shipping-icon{
  font-size: 2.5vw;
  /* padding-top: 1%; */
}
.order-text
{
  padding-top: 5%;
  font-size: 3vw;
}
.order-logo{
  width: 15%;
  border-radius: 100%;
}
.rows{
  padding: 2% 3% 5%;
  text-align: center;
}
.row{
  padding: 2% 3% 5%;
  text-align: center;
}
.feature-box {
  padding: 4.5%;
  display: inline;
}
#order-section p{
  margin-top: 0;
  margin-bottom: 0;
}



#offer-carousel
{
  position: relative;
  background-color: #0b0b0d;
  color: #f7f7f7;
  text-align: center;
  font-family: 'Aclonica', sans-serif;

}
.offer-heading{
  padding: 3% 2% 3% 2%;
  font-size: 3vw;
}
#footer-section
{
  position: relative;
  background-color: #332317;
  color: #f7f7f7;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
.social-icon{
  padding: 1% 0 0 1%;
}

#footer-section p{
  margin-top: 0;
  padding: 0 0 1% 0;
  margin-bottom: 0;
}
#footer-section a{
  color: #f7f7f7;
}
.container4 {
  position: absolute;
  top: 0;
  text-align: left;
  padding-left: 5%;
  width: 100%;
}

.orderbtn {
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 4%;
  position: relative;
  /* margin-bottom: 50px; */
  /* padding-left: 20%; */
  /* top: 230px;
  left: 18%; */
}


/* LOCATION PAGE */

.row{
  margin-right: 0px !important;
  margin-left: 0px;
}
.burger-body{
  position: relative;
  width: 100%;
  /* height: 300px; */
}

.body-sec{
  position: relative;
  color: #fff;
  font-family: 'Aclonica', sans-serif;
  font-size: 2vw;
  margin-top: 70px;

}

.titlepage{
  /* position: absolute; */
  padding: 5% 0 0 7%;
  text-align: left;
  font-size: 3vw;
}
.titlepage p{
  margin-bottom: 0;
}

.menu2

/*Section containing pricings of menu */
  {
  position: relative;
  background-color: #0b0b0d;
  color: #F5AA13;
  font-family: 'Merriweather Sans', sans-serif;
}

.location-card {
  padding: 0 6% 5%;
  text-align:center;
}
iframe{
  width: 100%;
}

.location-card .price-cards {
  margin-top: 10%;
  padding: 3%;
  text-align: center;
}

.card .burger{
  height:17.5rem;
}
/* .menucard-height{
  height: 12rem;
} */

.card-body {
  background-color: #1b262c;
  text-align: center;



}

.card {
  background-color: #1b262c;
  text-align: center;
  /* width: 17rem; */

  margin: auto;
}
.menu-card{
  width: 20vw;
}
.price-cards {
  text-align: center;
  color: #F5AA13;

  padding: 5% 0 0 0;
  font-family: 'Merriweather Sans', sans-serif;
}
@media (max-width:850px){
  .burger-body
  {
    height: 120px;
  }
}
.addtocartbtn
{
  margin: 5%;

}
/* MENU PAGE */

.menu-section-header {
  text-align: center;
  padding: 5% 16% 0;
  font-size: 2rem;
  font-family: 'Aclonica', sans-serif;
  line-height: 2;

}
.menu-section-header p{
  background-color: #f4f4f4;
  color: #f5841a ;
  margin: 0 5%;
}
.h

/*hr used under menu section header */
  {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #F5AA13;
  width: 10%;
}

div.Addons {
  background-color: #1b262c;
  text-align: center;
  width: 400px;
  border: 1px solid;
}

ul .Addons {
  background-color: #1b262c;
  text-align: center;
  padding: 0% 5% 3%;
  text-align: center;
}

.badge.badge-primary {
  padding: 0 4%;
  line-height: 3;
  background-color: #F5AA13;
}

.addoncard {
  width: 30rem;
  padding: 5% 0 5% 0;
  margin: auto;
  /* border: 1px solid; */
}
.cardhr {
  border-style: solid none none;
  border-width: 2px;
  border-color: #F5AA13;
  width: 30%;
  margin-top: 5px;
}

.twobuttons a{
  color: #fff;
}

.twobuttons {
  position: relative;
  padding: 10% 0 5%;
  background-color: #0b0b0d;
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}

.twobuttons .btn {
  line-height: 2;
  padding: 1% 5%;
  background-color: #F5AA13;
  margin-bottom: 2%;
}


/* order page */
#BurgerModal .modal-content, #FriesModal .modal-content {
  background-color: black;
}

.modalbuttonstyle {
  background-color: #F5AA13;
  color: #000;
}

.modal-body .container {
  text-align: center;
  line-height: 2;
}

.modal-body .btn, .modal-body h5 {
  margin: 3% 6% 3% 0;
  text-align: center;
}


.lastrow{
  padding-bottom: 5%;
}

.fixbtn{
  width: 120px;
}

/* INTERMEDIATE PAGE */
.timings{
  font-family: 'Aclonica', sans-serif;
  text-align: left;
  background-color: #0b0b0d;
  color: #fff;

}
.timings p{
  margin-top: 1%;
  margin-bottom: 0;
}
.timing-card hr{
  color: white;
  border: 1px solid;
  width: 50%;
}
.timings .row{
  padding: 2% 7% 5%;
}
.timing-card{
  padding-bottom: 75px;
}


/* CONTACT US PAGE */
.contactus-section{
  font-family: 'Aclonica', sans-serif;
  color: #F5AA13;
  text-align: left;
  background-color: #0b0b0d;


}
.contact-info{
    padding: 5% 10% 3%;
    /* font-size: 1.5rem; */
}
.contact-hours{
    padding: 0 10% 5%;
    /* font-size: 1.5rem; */
}
/* .contact-hours{
  padding: 0 10% 5%;
} */
.contactus-section hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: #F5AA13;
  width: 350px;
  margin-left: 0px;
  margin-bottom: 50px;
}
.contact-info-heading{
  text-align: left;
  font-size: 3rem;
  font-family: 'Aclonica', sans-serif;
  line-height: 2;
}
.contact-info i{
  padding-right : 3%;
}

/* SIGNUP PAGE */
.Takeaway {
  position: relative;
  padding: 10%;
  text-align: center;

}
.Takeaway-form, .Signup-form {
  position: relative;
  width: 75%;
  border: 1px solid;
  color: white;
  border-radius: .75rem;
  padding: 3%;
  text-align: center;
  margin: auto;

}

.Takeaway h5 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.form-control {
  margin: 1% 0 3%;
}

.Takeaway-form a, .SignIn a {
  color: #F5AA13;
}

/* Signup Page */
.SignIn {
  border: .5px solid;
  width: 35%;
  padding: 3%;
  text-align: center;
  margin: 2% auto;
  background-color: #272727;
}

.Signup-form small {
  padding: 3%;
  color: #dbdbdb;
}
.Signup-form button{
  color: #fff;
}

.Signup-form label, .Signup-form h6 {
  margin: 5%;
}

.Takeaway-form button {
  margin: 0 45%;
}

.form-group .row{
  padding: 0;
  margin-right: -15px !important;
}

.order-button button{
  margin: 2% 45%;
}

.SignIn p{
  margin-bottom: 0px;

}

.checkbox-pay{
   text-align: left;
}

#dropdownMenuButton.btn{
  color: rgba(255,255,255,0.5);
}

#dropdownMenuButton.btn:hover{
  color: rgba(255,255,255,3);
}

#dropdownMenuButton.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,0.5);
}

.navbar-nav .dropdown-menu{
  padding: 15px;
  background-color: #222831;
  opacity: .8;
  color: #fff;
  padding-left: 0px;
}
.navbar-nav .dropdown-item{
  color: #fff;
}
.navbar-nav .dropdown-item:hover{
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.navbar-nav .dropdown-item a{
  color: #fff;
}
.navbar-nav .dropdown-item i:hover{
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.signinbtndiv{
  text-align: right;
  padding-top: 8px;
}


/* SLIDING CART */
.sidenav {
  /* font-family: 'Montserrat', sans-serif; */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;

  transition: right 0.5s;
  -moz-transition: right 0.5s;
  -webkit-transition: right  0.5s;
  /* box-shadow: -3px 2px 5px #393e46; */

}

.close-drawer{
  position: absolute;
  background-color: #F5AA13;
  display: inline-block;
  top: 47%;
  z-index: 1060;
  border-radius: 20% 0 0 20%;
  /* box-shadow: -3px 2px 5px #393e46; */
}
#carttt{
  background-color: #111;
  overflow-x: hidden;
  height: 100%;
  width:0;
  position: absolute;
  right: 0;
  box-shadow: -6px 2px 5px #393e46;

  /* font-family: 'Montserrat', sans-serif;
  height: 100%;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: right 0.5s;
  -moz-transition: right 0.5s;
  -webkit-transition: right  0.5s;
  padding-top: 60px;
  box-shadow: -3px 2px 5px #393e46; */
  display: inline-block;
}

.cart-caption {
  height:7vh;
  padding: 8px 15px 8px 55px;
  text-decoration: none;
  font-size: 20px;
  color: #cb3737;
  display: block;
  transition: right 0.5s;
  text-align: left;
}

.sidenav a:hover {
  color: red;
}
.sidenav .btn{
  height:5vh;
  bottom: 0;
}

.cart-caption .btn{
  padding: .25rem .75rem;
}
.cart-caption i{
  padding-right: 115px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.total-price
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #F5AA13;
  position: relative;
  height: 5vh;
  padding: 3%;
}


#mySidenav h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#mySidenav .cd-cart-items {
  padding: 0;
  color: #fff;;
}
#mySidenav .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#mySidenav .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#mySidenav .cd-qty, #mySidenav .cd-price {
  color: #fff;
  padding-right: 10px;
}
#mySidenav .cd-flav{
  color: #a6aa9c;
}
.tot{
  font-weight: bold;
}
#mySidenav .cd-price {
  position: absolute;
  right: 10px;
  display: inline;
  margin-top: .4em;
}
.item-quantity{
    display: inline;

}
.item-desc{
}
.item-desc td{
  padding: 0;
}
td.bname{
  color: #F5AA13;
}
.item-desc table{
  width: 100%;
  margin: 0;
}
.item-discard{
  display: inline;
float: right;
}

input[type="number"]{
  text-align: center;
}

input[type="number"]:focus{
  outline: none;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: .3;

} */

input.col-2{
  flex: 0 0 18%;
  max-width: 18%;
  padding-right: 0;
  padding-left: 10px;
}
#mySidenav .cd-item{
  height: 83vh;
}

 #mySidenav .cd-item-remove {
  font-size: 20px;
}
#carttt .cd-cart-items{
  height:100%;
  overflow-y: scroll;
}
.cart-footer{

  position: absolute;
  width: 100%;
  bottom: 0;

}


/* CHECKOUT PAGE */
#checkout
{
  background-color: #0b0b0d;
  text-align: center;
  padding: 5%;
}
div#checkout{
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX26810236.jpg');

}
.information {
text-align: center;

}
.checkout-block{
  margin: 5% auto;
  padding: 3%;
  width: 50vw;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  box-shadow: 3px 3px 5px #888888;
  color: #fff;
  /* background-color: #252525; */
  background-color: #1d1919;
}
.info-block{
}

.ht{
  padding: 2% 2% 1% 2%;
  font-weight: bold;
  color: #fff;
}
.vt {
  padding: 1% 2%;

}
.checkout-block table{
  width: 100%;
}
td{
  padding: 2% 2%;
}
.val{
  text-align: right;
}
.checkout-block hr{
  color: #fff;
  border: 1px;
  border-style: dotted none none;
}
.amount-input{
  text-align: left;
  border: none;
  background: transparent;
  color: #ebebe3;
  margin-bottom: 10px;
}
.checkout-inputs{
  text-align: left;
  font-style: italic;
  border: none;
  width: 100%;
background: transparent;
color: #ebebe3;
margin-bottom: 10px;
}
.information input[type="text"]:focus {
  outline: none;
  color: #fff;
  box-shadow:inset 0 -2px 0 0 #fff;
}

.due{
  right: 0;
}
input[type="radio"] {
  margin: 10px;

}

.payment label{
  display: inline;
}
.payment h5{
  padding: 20px 5% 10px;
font-weight: bold;
color: blueviolet;
}
/* .payment-option{
  width: 55%;
} */
.order-summary h4, .payment-option h4{
  color:  #F5AA13;
  text-align: center;
  padding-bottom: 10px;
}
